:root {
  --font-family: "Inter", sans-serif;
  --second-family: "Plus Jakarta Sans", sans-serif;
} 


body{
    margin: 0;
    padding: 0;
    background-color: #151515;
    text-align: center;

}

.header{
    text-align: center;
    padding: 20px 0;
    position: relative;
    z-index: 10;
    margin-top: 30px;
}

.header>h1{
    font-family: var(--font-family);
    font-weight: 700;
    font-size:  16px;
    line-height: 87%;
    letter-spacing: -0.02em;
    color: #fff;
}

.header>h2{
    font-family: var(--second-family);
    font-weight: 400;
    font-size:  14px;
    line-height: 150%;
    letter-spacing: -0.04em;
    color: #fff;
}

.button{
    margin-top: 40px;
    background: #0060ff;
    border: none;
    font-family: var(--font-family);  
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
    border-radius: 7px;
    padding: 12px 16px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    transition: background 0.25s ease;
}

.header-button:hover {
    background: #004bcc;
}

.header>button>a{
    text-decoration: none;
    color: #fff;
}

#image{
    width: 400px;
    height: auto;
    opacity: 1;
    
}
