body {
margin: 0;
padding: 0;
background-color: #fff;
color: #0b0b0b;



}

.header>h1{
    font-family: var(--font-family);
    font-weight: 700;
    font-size:  16px;
    line-height: 87%;
    letter-spacing: -0.02em;
    color:  #0b0b0b;
}    

.header>h2{
font-family: var(--second-family);
    font-weight: 400;
    font-size:  14px;
    line-height: 150%;
    letter-spacing: -0.04em;
    color:  #0b0b0b;
}

.choose {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}


.text_upload, .text_image {
    font-family: var(--font-family);  
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
    transition: color 0.3s ease ease-in-out;
}

.text_upload {
    color: #0060ff;
    margin-right: 18px;

}


.text_image{
     color: #adc0f8;   
}

.text_upload:hover, .text_image:hover {
      opacity: 0.8;   
}


.upload_box {
    width: 539px;
    height: 200px;
    background-color: #f3f5ff;
    border: 2px dashed #0060ff;
    border-radius: 7px;
    margin: 0 auto;
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: column ;
    justify-content: center;
    transition: background-color 0.2s ease;
    
}

.upload_box:hover{
    background-color: #e2e6ff;
}
.upload_file {
    margin-top: 50px;
}


.upload_box p{
    font-family: var(--font-family);  
    font-weight: 400;
    font-size: 14px;
    color:  #0b0b0b;
    text-align: center;
    
}

input[type="file"] {
    display: none;
}

.send_file>button{
    font-family: var(--font-family);  
    background: #0060ff;
    border: none;
    font-family: var(--font-family);  
    font-weight: 600;
    font-size: 12px;
    color: #fff;
    border-radius: 7px;
    padding: 12px 16px;
    text-align: center;
    text-transform: uppercase;
    width: 539px;
    height: 39px;
    margin: 30px;
    cursor: pointer;
}

.upload-box.dragover {
    background-color: #e2e6ff;
    border-color: #004bcc;
}

.upload_box small{
    font-family: var(--font-family);  
    font-weight: 400;
    font-size: 14px;
    color:   #adc0f8;   
    text-align: center;
    
}


.current_upload{
    margin-top: 50px;
    text-align: left;
    max-width: 539px;
    margin-left: auto;
    margin-right: auto;
}

.current_upload h2{
    font-family: var(--font-family);  
    font-weight: 700;
    font-size: 16px;
    color:  #0b0b0b; 
    line-height: 150%;
}


.input-with-button {
    
    align-items: center;
    
}


.input-with-button input {
    padding: 12px 20px;
    
    border: 2px solid  #0060ff;
    border-radius: 12px;
    width: 500px;
}


.copy-btn {
    background: #0060ff;
    border: none;
    font-family: var(--font-family);  
    font-weight: 600;
    font-size: 12px;
    line-height: 150%;
    color: #fff;
    padding: 6px 20px;
    cursor: pointer;
    border-radius: 7px;
    position: relative;
    left: 460px;
    top: -36px;
    
}

.upload-status.error {
    background-color: #d4edda;
    color: red;
    border: 1px solid rgb(174, 185, 177);
}

.upload-status.succes {
     color: rgb(20, 151, 232);
    border: 1px solid rgb(174, 185, 177);

}

